.article {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &__title{
        margin-bottom: 2rem;
    }
}

.card-button {
    min-width: 15rem;
    height: 6rem;

    @media (min-width: 1800px) {
        min-width: 22.6rem;
        font-size: 1.4rem;
    }
}