<article class="article">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="article__title"><i class="bi bi-{{module.icon}}"></i> {{module.title}}</h2>
      </div>
    </div>
    <div class="row">
      <div
        class="col-3 mb-3 col-sm-10 col-md-7 col-lg-5 col-xl-3 d-flex justify-content-center justify-content-lg-center justify-content-xl-start"
        *ngFor="let submodule of submodules">
        <button type="button" class="btn btn-application card-button card-button__roles"
          (click)="goToSubmodule(submodule.url)">{{submodule.title}}</button>
      </div>
    </div>
  </div>
</article>
