<nav class="main__navbar">
    <button class="switch-button" title="Сховати/показати панель головного меню"><i class="bi bi-arrow-bar-left"></i></button>

    <div class="toolbar toolbar_hidden">
        <div class="search">
            <input type="text" class="search__text toolbar__search-text form-control" placeholder="Пошук по системі">
            <button class="search__button toolbar__search-button"><i class="bi bi-search"></i></button>
        </div>
        <button alt="Пошук" title="Пошук" class="toolbar__button search-button btn"><i class="bi bi-binoculars"></i></button>
        <a href="#" alt="Повідомлення" title="Повідомлення" class="toolbar__button messages-button"><i class="bi bi-bell"></i></a>
        <div class="btn-group">
            <button alt="Користувач" title="Користувач" class="toolbar__button users-button btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person"></i></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Особистий кабінет</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="index.html">Вихід</a></li>
            </ul>
        </div>
    </div>
</nav>