.main-menu {
    &__list {
        list-style: none;
        padding-left: 0;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 1.2rem;
        }
        
        a {
            color: #f39200;
            text-decoration: none;
            // font-weight: bold;
        }
    }
}