<div class="login">    
    <div class="container-fluid">
        <div class="row vh-100 d-flex flex-column justify-content-center">
            <div class="container-fluid">
                <div class="row d-md-flex flex-md-row flex-md-row-reverse justify-content-center">
                    <div class="col-12 col-md-5 d-flex flex-column align-items-center justify-content-center mt-3 mt-md-0">
                        <div class="row">
                            <svg class="logo" viewBox="0 0 65 24">
                                <path fill="#f39200"
                                    d="M24.7642 5.71561C26.6293 5.71561 27.5273 6.44301 27.5273 7.41289C27.5273 8.38277 26.6293 9.11018 24.7642 9.11018H22.9336L20.6541 13.9249H25.075C27.0783 13.9249 27.9072 14.6177 27.9072 15.5876C27.9072 16.5575 27.0437 17.2502 25.075 17.2502H19.0308L16.2677 23.0002H24.3842C30.7739 23.0002 33.9514 20.2292 33.9514 16.5921C33.9514 14.2713 32.8117 12.1584 30.9466 11.0846C32.639 9.97615 33.7442 8.3135 33.7442 6.37374C33.7442 2.42494 30.3594 0.000244141 24.9714 0.000244141H16.8548L11.674 10.8767L6.49325 0.000244141H0L8.35834 17.7352L5.87156 23.0002H12.2612L20.5159 5.71561H24.7642V5.71561Z">
                                </path>
                                <path fill="#f39200"
                                    d="M36.0928 9.8032H57.7831L55.2617 4.43422C53.8111 1.66314 50.8063 0.000488281 47.6978 0.000488281H34.6077C36.0583 1.55922 36.9563 3.67218 36.9563 5.99296C36.9563 7.27458 36.6454 8.66013 36.0928 9.8032Z">
                                </path>
                                <path fill="#f39200"
                                    d="M36.2655 13.198C36.8527 14.3757 37.129 15.7266 37.129 17.0082C37.129 19.329 36.2655 21.5113 34.5731 23.0007H63.9655L59.3373 13.198H36.2655V13.198Z">
                                </path>
                            </svg>
                        </div>
                        <div class="row">
                            <div class="app-title">
                                <p class="app-title_big">АТ "Укрзалізниця"</p>
                                <p class="app-title_small">Автоматизована система обліку</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 d-flex justify-content-center mt-5 mt-md-0">
                        <div class="card text-bg-light mb-3 mb-md-0 login-card">
                            <div class="card-header">Увійти у систему</div>
                            <div class="card-body">
                                <form action="app.html" method="get">
                                    <div class="form-group mb-3">
                                        <label for="input-name" class="form-label">Ім'я</label>
                                        <input type="text" id="input-name" class="form-control">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="input-password" class="form-label">Пароль</label>
                                        <input type="password" id="input-password" class="form-control"
                                            aria-describedby="passwordHelpBlock">
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Запам'ятати мене
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary">Увійти</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>