<article class="article">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="article__title"><i class="bi bi-person-vcard"></i> {{title}}</h2>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-6">
                <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)"> 
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Прізвище</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Прізвище" name="lastName" required [ngModel]="user?.lastName">
                        <label for="firstName" class="form-label">Ім'я</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Ім'я" name="firstName" [ngModel]="user?.firstName">
                        <label for="secondName" class="form-label">По-батькові</label>
                        <input type="text" class="form-control" id="secondName" placeholder="По-батькові" name="secondName" [ngModel]="user?.secondName">
                        <label for="phone" class="form-label">Телефон</label>
                        <input type="text" class="form-control" id="phone" placeholder="Телефон" name="phone" [ngModel]="user?.phone">
                        <label for="mobile" class="form-label">Мобільний</label>
                        <input type="text" class="form-control" id="mobile" placeholder="Мобільний" name="mobile" [ngModel]="user?.mobile">
                        <label for="email" class="form-label">Ел. пошта</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" [ngModel]="user?.email">
                        <label for="address" class="form-label">Ел. пошта</label>
                        <input type="text" class="form-control" id="address" placeholder="Адреса" name="address" [ngModel]="user?.address">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-secondary user-form-button">Зберігти</button>
                        <button class="btn btn-secondary user-form-button" (click)="cancel()">Скасувати</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>