.app-title {
    text-align: left;
    color: #f39200;
    
    &_big {        
        font-weight: bold;
        font-size: 1.46rem;
        text-transform: uppercase;
        margin-bottom: 5px;
    }    

    &_small {
        text-transform: uppercase;
        font-weight: bold;
        font-size: .96rem;
        margin-bottom: 0;
    }
}