body.login {
    background-color: var(--app-main-color);

    @media (min-width: 768px) {
        background-image: url(../../img/login-background.jpg);
        background-repeat: no-repeat;
        background-position: 0% 50%;
        background-size: cover;
    }

    @media (min-height: 735px) {
        background-position: 0% 25%;

    }

    .app-title {
        text-align: center;

        @media (min-width: 1024px) {
            &_big {
                font-size: 2.5rem;
            }

            &_small {
                font-size: 1.5rem;
            }
        }

        @media (min-width: 1280px) {
            &_big {
                font-size: 3rem;
            }

            &_small {
                font-size: 1.8rem;
            }
        }
    }

    .logo {
        width: 220px;
        height: 84px;
    }

    .login-card {
        width: 22rem;

        .card-header {
            background-color: var(--app-main-color);
            color: var(--app-secondary-color);
            font-weight: bold;
        }

        .btn-primary,
        .form-check-input:checked {
            background-color: var(--app-main-color);
            border-color: var(--app-main-color);
            color: var(--app-secondary-color);
            font-weight: bold;
        }

        .form-check-input:checked {
            box-shadow: transparent;
        }
    }
}
