.sidebar {
    padding: 25px;
    background-color: #191d7b;
    width: 340px;
    min-width: 340px;
    min-height: 100vh;
    height: 100%;
    transition: margin-left .35s ease-in-out;

    &_hidden {
        margin-left: -340px;
    }

    .app-title,
    .search {
        margin-bottom: 1.5rem;
    }
}