<div class="modal" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Видалити користувача?</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="confirm(false)">
          </button>
        </div>
        <div class="modal-body">
          <p>Ви впевнені, що бажаєте видалити цього користувача</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="confirm(true)">Видалити</button>
          <button type="button" class="btn btn-secondary" (click)="confirm(false)">Скасувати</button>
        </div>
      </div>
    </div>
  </div>
  